[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jean-damien.ly/Desktop/rendu-tp-jean-damien.ly.zip]
row=6
col=0

[/home/jean-damien.ly/Desktop/rendu-tp-jean-damien.ly]
row=5
col=0

[1.2 GB Volume]
row=1
col=0

[66B9-5255]
row=7
col=0

[D6BA6017BA5FF30B]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/jean-damien.ly]
row=4
col=0

